* {
  box-sizing: border-box;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }

  20% {
    color: aqua;
  }

  40% {
    color: blue;
  }

  60% {
    color: rgb(155, 13, 60);
  }

  80% {
    color: rgb(95, 185, 4);
  }

  100% {
    color: yellow;
  }
}

.contact {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgb(24, 241, 24);
  border-radius: 30px;
  opacity: 0.8;
  border-style: none;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  z-index: 100;
  top: 150px;
  margin-top: 50px;
}

.contact:hover {
  opacity: 0.7;
}

.homepageimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img-1.jpg);
  background-attachment: fixed;
  z-index: 0;
}


body {

  font-family: 'Poppins', sans-serif;
  background-color: rgb(240, 235, 230);
  transition: all 0.5s;
  padding: 10px;
  overflow-x: auto;
}

.continent {
  font-family: 'Poppins', sans-serif;
  padding-left: 50px;
  padding-top: 0px;
  font-size: small;
  transition: all 0.5s;
}

p {
  font-family: 'Poppins', sans-serif;
  padding-left: 50px;
  padding-top: 0px;
  font-size: small;
  transition: all 0.5s;
  text-align: left;
}

.countryDetailsContainer,
.dictinaryDetailsContainer {
  z-index: 10;
  display: flex;
  height: 450px;
  width: 900px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  transition: all 0.5s;
  margin: auto;
  gap: 50px;
  margin-bottom: 30px;
}

.inside,
.inside2 {
  z-index: 10;
  width: 350px;
  height: 450px;
  background-color: white;
  box-shadow: black;
  transition: all 0.5s;
  opacity: 0.8;
}

.inside1 {
  z-index: 10;
  width: 350px;
  height: 500px;
  background-color: white;
  box-shadow: black;
  transition: all 0.5s;
  padding: 10px;
  opacity: 0.8;
  overflow: auto;
}

h3 {
  z-index: 10;
  padding-left: 50px;
  font-weight: bold;
  margin-bottom: 1px;
  padding-top: 0px;
  margin-top: 0px;
  transition: all 0.5s;
  text-align: left;
}

h1 {
  z-index: 10;
}

.logo {
  position: absolute;
  float: left;
  z-index: 10;
  opacity: 0.2;
  transition: all 6s;
}

.btn,
.btn1 {
  z-index: 10;
  border-radius: 20px;
  border-style: none;
  width: 100px;
  height: 40px;
  background-color: rgb(24, 241, 24);
  cursor: pointer;
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

.btn:hover,
.btn1:hover {
  opacity: 0.7;
}

.btn:active,
.btn1:active {
  margin-top: 15px;
}

.countFlag,
.countFlag1 {
  margin-top: 25px;
}

.in,
.in1 {
  z-index: 30;
  width: 150px;
  height: 40px;
  margin: 5px;
  outline: none;
  border-style: none;
  opacity: 0.8;
  transition: all 0.5s;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}


.loadingAnimation,
.loadingAnimation2 {
  z-index: 10;
  font-size: xx-large;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  text-align: center;
  padding-top: 0px;
  padding-top: 200px;
}

.loadingAnimation1 {
  z-index: 10;
  font-size: xx-large;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  text-align: center;
  padding-top: 0px;
}






















.opa {
  opacity: 0;
}

.hide {
  display: none;
}